<div class=main_chat>
  <div class=chat_header>
    <div class=header_left>
      <div class=chat_name>チャットルーム名がここに入るよ</div>
    </div>
    <div class=header_right>
      <a href="AAA" class=chat_delete>チャットを削除する</a>
    </div>
  </div>
  <div class=chat_view>
    <div class=message_boxes>
      <div class=message_box>
        <div class=message_info>
          <div class=message_name>Ken</div>
          <div class=message_date>XX:XX:XX</div>
       </div>
        <div class=message>Hello,world!</div>
      </div>
    </div>
    <div class=message_box>
      <div class=message_info>
        <div class=message_name>John</div>
        <div class=message_date>XX:XX:XX</div>
      </div>
      <div class=message>Hello,world?</div>
    </div>
  </div>
  <div class=chat_form>
    <div class=form>
        <input type="text" placeholder="メッセージを入力" class=form_message>
        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
        </label>
      </div>
      <input type="submit" value="送信" class="form_send">
  </div>
</div>