<div class="side_bar">
  <div class="side_header">
    <div class="side_username">
       <%= link_to current_user.name, edit_user_path(current_user)%>
    </div>
    <a href="XXX" class="side_new">チャットを作成する</a>
  </div>
  <div class="side_lists">
    <a href="111" class="side_list">チャットルーム１</a>
    <a href="222" class="side_list">チャットルーム２</a>
  </div>
</div>